@media screen and (max-width:576px){
    .nav-container,
    .nav-content ul,
    .gamer-container,
    .video-content,
    .play-container,
    .play2-container{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .header-bg,
    .banner-title,
    .banner-img{
        width: 90%;
    }
    .banner-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .banner-btn button{
        margin: 1rem 0;
        padding: 1rem;
    }
    .rogue{
        margin: 0;
        padding: 1rem;
    }
    .gamer-img{
        width: 90%;
        
    }
    .gamer-img img{
        width: 100%;
        
    }
    .gamer-content{
        text-align: center;
        margin: 2rem 0;
    }
    .video-content,
    .play2-content{
        text-align: center;
    }
    .play-container{
        gap:2rem;
    }
    .play-content{
        text-align: center;
    }
    .play-content-img{
        width: 90%;
    }
    .play-img-1{
        margin-left: 20%;
        width: 80%;
    }
    .play-img-2{
        width: 150px;
        bottom: -40px;
        left: -0px;
    }
    .play2-container{
        gap: 2rem;
    }
    .play2-content-img{
        width: 90%;
    }
    .play2-img-1{
        width: 80%;
    }
    .play2-img-2{
        width: 150px;
        right: 0;
        bottom: -30px;
    }
    .apps-container{
        gap:0;
    }
    .apps-content{
        padding: .8rem;
        font-size: .8rem;
        max-width: 90px;
    }
    .apps-content img{
        width: 30px;
    }
    .footer-container{
        margin: 5rem 0;
    }
    
    .footer-games{
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .social-icon a {
        width: 70px;
    }
    .social-icon{
        gap: 1rem;
        width: 90%;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .social-icon img{

        margin-top: 10px;
        width: 40px;
    }
    .footer-policy{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footer-policy p{
        margin: 0;
    }
    .copy-right{
        text-align: center;
    }

    /* hide */
    .hide{
        display: none;
    }
    /* hide */
}