@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
*{
    margin: 0;
}


/* share style */
.flex{
    display: flex;
}
.primary-btn{
    margin: 1rem 0;
    padding: 1rem 2rem;
    color: white;
    background-color: rgb(255, 66, 165);
    border: none;
    border-radius: 1.5rem;
    font-size: 1.3rem;
}

/*  nav section */
header{
    margin: 3rem 0;
}
nav{
    margin: 0 auto;
    width: 90%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.nav-title span{
    color: rgb(255, 66, 165);
}
.nav-title h4{
    font-size: 45px;
    font-weight: 700;
}
.nav-title img{
    width: 100%;
}
.nav-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.nav-content li{
    list-style: none;
    border-radius: 8px;
    padding: 18px 24px;
}
.nav-follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    background-color: rgba(11, 2, 35, 0.1);
}
.nav-follow img{
    width: 30px;
}
.nav-content a{
    text-decoration: none;
    color: rgb(60, 53, 79);
    font-size: 18px;
    font-weight: 500;   
}
/* banner section star */
.header-bg{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%; 
}
.banner-container{
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.banner-title{
    width: 50%;
}
.banner-title h3{
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}
.banner-title h1{
    margin: .5rem 0;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(255, 49, 83); 
}
.banner-title a{
    text-decoration: none;
    color: rgb(19, 0, 16);
    font-size: 1.2rem;
}
.banner-title p{
    margin: .3rem 0;
    color: rgb(19, 0, 16);
    font-size: 1.2rem;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}
.rogue{
    background-color: aqua;
    margin-left: 2rem;
}

/* banner section end */
