@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
*{
    margin: 0;
}


/* share style */
.flex{
    display: flex;
}
.primary-btn{
    margin: 1rem 0;
    padding: 1rem 2rem;
    color: white;
    background-color: rgb(255, 66, 165);
    border: none;
    border-radius: 1.5rem;
    font-size: 1.3rem;
}
h3{
    margin: 1.5rem 0;
    font-size: 3rem;
    font-weight: 700;
}
p{
    font-size: 1.12rem;
    margin: 1rem 0;
    color:rgb(83, 76, 100);
}
/*  nav section */
header{
    margin: 3rem 0;
}
nav{
    margin: 0 auto;
    width: 90%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.nav-title span{
    color: rgb(255, 66, 165);
}
.nav-title h4{
    font-size: 45px;
    font-weight: 700;
}
.nav-title img{
    width: 100%;
}
.nav-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.nav-content li{
    list-style: none;
    border-radius: 8px;
    padding: 18px 24px;
}
.nav-follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    background-color: rgba(11, 2, 35, 0.1);
}
.nav-follow img{
    width: 30px;
}
.nav-content a{
    text-decoration: none;
    color: rgb(60, 53, 79);
    font-size: 18px;
    font-weight: 500;   
}
/* banner section star */
.header-bg{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%; 
}
.banner-container{
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.banner-title{
    width: 50%;
}
.banner-title h3{
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}
.banner-title h1{
    margin: .5rem 0;
    font-size: 5rem;
    font-weight: 600;
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    color: transparent;
}
.banner-title a{
    text-decoration: none;
    color: rgb(19, 0, 16);
    font-size: 1.2rem;
}
.banner-title p{
    margin: .3rem 0;
    color: rgb(19, 0, 16);
    font-size: 1.2rem;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}
.rogue{
    background-color: aqua;
    margin-left: 2rem;
}

/* banner section end */

/* we are gamer section start */
.gamer-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.gamer-content{
    text-align: right;
}
.gamer-content h3{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    color: transparent;
}
.gamer-content h6{
    color: rgb(83, 76, 100);
    font-size: 32px;
    font-weight: 400;
}
.gamer-content h5{
    color: rgb(83, 76, 100);
    font-size: 32px;
    font-weight: 700;
}
/* we are gamer section end */
.video{
    margin: 0 auto;
    width: 90%;
}

.video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#funny-video{
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip: text;
    color: transparent;
}

.video-content{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: left;
}
.video-img img {
    width: 300px;
}
.video-img p{
    width: 300px;
}
/* Play Instantly, No Downloads No Installs. */
            /* paly 1 */
.play-content{
    color: rgb(11, 2, 35);
    text-align: right;
}
#play-instant{
    color: rgb(255, 66, 165);
}
.play-container{
    width: 90%;
    margin: 4rem auto;
    justify-content: end;
    align-items: center;
    gap: 265px;
}
.play-content-img{
    
}
.play-img-1{
    width: 600px;
}
.play-img-2{
    width: 280px;
    margin-top: -285px;
    margin-left: -145px;
}
         /* paly 2 */
                    /* paly 1 */
.play2-content{
    color: rgb(11, 2, 35);
}
#play2-instant{
    color: rgb(255, 66, 165);
}
.play2-container{
    width: 90%;
    margin: 4rem auto;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 200px;
}
.play2-content-img{
    
}
.play2-img-1{
    width: 600px;
}
.play2-img-2{
    width: 280px;
    margin-top: -285px;
    padding-left: 380px;
}

/* end of play section */
.careers{
    background: rgb(255, 66, 165);
}
.career-img{
    width: 60%;
}
.career-img img{

    
}